@import "../../styles/cssGlobalVars.css";

.iki_radio {
  /*color: var(--mainTextColor) !important;*/
}

.label_holder {
  margin-bottom: 4px;
}
.label_holder .label {
  position: relative;
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}
.label_holder .label.is_required::after {
  content: "*";
}
.label_holder .label_required {
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}

.iki_radio :global(.ant-radio-inner) {
}

/*.iki_radio:hover :global(.ant-radio .ant-radio-inner) {
  border-color: var(--mainTextColor) !important;
}

.iki_radio :global(.ant-radio.ant-radio-checked .ant-radio-inner) {
  background-color: var(--mainTextColor) !important;
  border-color: var(--mainTextColor) !important;
}*/

/*.iki_radio_group {
  position: relative;
}
.iki_radio_group:hover::before {
  content: "";
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid var(--mainTextColor);
  border-radius: 4px;
}*/

/*.iki_radio_group:hover .iki_radio_button {
  border: 1px solid var(--mainTextColor);
}*/

.iki_radio_button {
  /*border-color: var(--radioButtonBorderColor);*/

  :global(.anticon) {
    height: 100%;
  }
  :global(.anticon svg) {
    height: 50%;
    width: auto;
  }
}
/*.iki_radio_button.is_checked {
  fill: #fff;

  :global(.anticon svg) {
    fill: #fff;
  }
}*/

/*.iki_radio_button.is_checked {
  background-color: var(--radioActiveButtonBg) !important;
}*/

.iki_radio_button.is_checked::before,
.iki_radio_button:global(.ant-radio-button-wrapper-checked)::before {
  background: none !important;
}

.radios_holder {
}
.radios_holder.bordered {
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
