@import "../../styles/cssGlobalVars.css";

.iki_textarea_wrapper {
}

.label_holder {
  margin-bottom: 4px;
}
.label_holder .label {
  position: relative;
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}
.label_holder .label.is_required::after {
  content: "*";
}
.label_holder .label_required {
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}

.iki_textarea {
}

.helperText_holder {
  margin-top: 4px;
}
.helperText_holder .helperText {
  color: #676879;
  font-family: var(--main-font-family);
  font-size: 14px;
}
.helperText_holder .helperText.is_error {
  color: var(--errorText);
}

.iki_textarea {
  border-radius: 4px;
  border: 1px solid #e3e9ef;
  box-shadow: 0 0 0 transparent;
  color: var(--mainTextColor);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
}
.iki_textarea:hover {
  border: 1px solid #10181b;
}
.iki_textarea:focus {
  border: 1px solid #7822ff;
}
