@import "../../styles/cssGlobalVars.css";

.iki_select_wrapper {
}
.iki_select {
}
.iki_select:hover :global(.ant-select-selector) {
  border-color: var(--hoverBorderColor) !important;
}

.label_holder {
  margin-bottom: 4px;
}
.label_holder .label {
  position: relative;
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}
.label_holder .label.is_required::after {
  content: "*";
}
.label_holder .label_required {
  font-family: var(--main-font-family);
  font-size: 14px;
  margin-bottom: 4px;
}

.helperText_holder {
  margin-top: 4px;
}
.helperText_holder .helperText {
  color: #676879;
  font-family: var(--main-font-family);
  font-size: 14px;
}
.helperText_holder .helperText.is_error {
  color: var(--errorText);
}
