@import "../../styles/cssGlobalVars.css";

.iki_modal {
  font-family: var(--main-font-family);

  /*:global(.ant-modal-title) {
    /font-size: 36px;
  }*/

  :global(.ant-modal-close) {
    top: 16px;
    right: 24px;
  }

  :global(.ant-modal-body) {
    margin-top: 32px;
    margin-bottom: 40px;
    max-height: calc(100vh - 60vh);
    padding-right: 6px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  :global(.ant-modal-body::-webkit-scrollbar) {
    width: 6px;
  }
  :global(.ant-modal-body::-webkit-scrollbar-track) {
    background: rgba(230, 230, 245, 0.32) !important;
  }
  :global(.ant-modal-body::-webkit-scrollbar-thumb) {
    background-color: rgba(220, 220, 235, 0.8) !important;
    border-radius: 6px !important;
  }

  :global(.modal-title-holder .modal-title) {
    font-size: 26px;
    font-weight: 700;
  }
  :global(.modal-title-holder .modal-subtitle) {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.54;
    /*color: var(--secondaryColor)*/
  }
}

.iki_modal.is_fullscreen {
  height: 100vh;
  width: 100vw;
  max-width: 100vw !important;
  top: 0;
  padding: 0;
  margin: 0 !important;
  :global(.ant-modal-content) {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
