@import "../../styles/cssGlobalVars.css";

.iki_checkbox {
  color: var(--mainTextColor) !important;
}

.iki_checkbox :global(.ant-checkbox-inner) {
  /* border: 1px solid #e3e9ef;*/
}

.iki_checkbox:hover :global(.ant-checkbox .ant-checkbox-inner) {
  border-color: var(--mainTextColor) !important;
}

.iki_checkbox :global(.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner) {
  background-color: #414d5a !important;
  border-color: var(--mainTextColor) !important;
}

.iki_checkbox_group {
}
